*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Raleway-Medium";
    -webkit-font-smoothing:antialiased;
    /* height:6000px; */
}

/* Fonts  */

@font-face{
    font-family:'Raleway-Regular';
    src: url(../fonts/Raleway/Raleway-Regular.ttf);

}
@font-face{
    font-family:'Raleway-Medium';
    src: url(../fonts/Raleway/Raleway-Medium.ttf);

}
@font-face{
    font-family:'Raleway-Bold';
    src: url(../fonts/Raleway/Raleway-Bold.ttf);

}
@font-face{
    font-family:'Raleway-SemiBold';
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);

}
@font-face{
    font-family:'Raleway-Black';
    src: url(../fonts/Raleway/Raleway-Black.ttf);

}
@font-face{
    font-family:'header.hero';
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);

}

/* Color  */
 :root{

    --primary:#fbcd00;
    --secondry:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;

 }

.container{
    width: 100%;
    padding: 0px 12rem;
    margin: 0px auto;
 }
 /* .container{
    padding: 0.6rem;
    
} */
 @media(min-width:576px){
     .container{
         max-width: 540px;
     }
 }
 @media(min-width:768px){
     .container{
         max-width: 720px;
     }
 }
 @media(min-width:992px){
     .container{
         max-width: 960px;
     }
 }
 @media(min-width:1200px){
     .container{
         max-width: 1152px;
     }
 } 


 /* Uitility Classes  */

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.text-align{
    text-align: center;
}


 /*  ##################### Header  */
 header.topbar{
     background-color: var(--secondry);
     color: var(--pure);
     font-family: "Raleway-SemiBold";
     /* padding: 0.75rem 0; */

 }

 header.topbar .auth .user-info{
     margin-top: 0.5rem;
 }
 header.topbar .icons a img{
     margin-top: 0.4rem ;
     width: 80%;
 }

 header.topbar .auth > div a{
     margin-top: -1.5rem;
 }
 header.topbar .auth img{
    margin-top: 0.7rem ;

 }
 header.topbar{
     height: 2.5rem;
 }
 header.topbar .icons{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 header.topbar .auth > div a{
     text-decoration: none;
    color: var(--pure);
    justify-content: center;
 }


 /* // Without using utility class we can write as  */
 /* header.topbar .container{ */
     /* display: flex;
     justify-content: space-between;
     text-align: center; */
 /* } */

 /* header.topbar .container .auth{ */
     /* display: flex;
     align-items: center; */
 /* } */
 
 /* header.topbar .container .icons{ */
     /* display: flex;
     align-items: center; */
 /* } */
header .container img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 0.15rem;
    border: 2px solid var(--secondry);
    border-radius: 3px;
}

header .divider{
    margin-right: 0.2rem;
}
header .auth > div{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -0.29rem;

    
}
header .auth >div img{
    justify-content: center;
}




/* Navigation bar  */

nav .top .contact h4 , nav .top .time h4{
    font-family: "Raleway-Black";
    margin-bottom: 0.22rem;
}
nav .top .contact h6 ,nav .top .time h6  {
    font-family: "Raleway-Medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}

nav .top .contact img ,nav .top .time img{
    margin-right: 1rem;
}

nav .top{
    padding-top: 1rem;
}

nav .navbar ul li{
    display: inline-block;

}
nav .navbar ul li a{
    text-decoration: none;
    color: var(--secondry);
    font-family:"Raleway-SemiBold" ;
    font-size: 1rem;
    /* padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem ; */
    padding:0.5rem 1rem 0.5rem 1rem;
    /* border:2px solid rgb(251, 234, 0); */
    transition:all .3s ease;
    
}
nav .navbar{
    padding-top: 1.7rem;;
}

nav .navbar ul li a.active{
    background-color:var(--primary);
    color: var(--pure);
}
nav .navbar ul li a:hover{
    background-color:var(--primary);
}
.magic-shadow{
    padding-bottom:0.8rem;
    position: relative;
    background-color: var(--heaven);
    top: 17px;
}
.magic-shadow::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg) ;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    /* top:20px; */
    bottom: -20px;
    z-index: -1;
}

.magic-shadow-sm{
    padding-bottom:0.8rem;
    position: relative;
    background-color: var(--heaven);
    /* top: 17px; */
}
.magic-shadow-sm::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg) ;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    /* top:20px; */
    bottom: -20px;
    z-index: -1;

    left: 50%;
    transform: translateX(-50%);
}


/* Note : This is use by myself  */
/* .magic-shadow-small{
    padding-bottom:1.5rem;
    position: relative;
    background-color: var(--heaven);
    /* top: 17px; */
   /* 
}

.magic-shadow-small::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg) ;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    top:20px;
    bottom: -20px;
    z-index: -1;
} */


header.hero{
    height: 600px;
    width: 100%;
    background-image: url(../images/hero.png);
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

header.hero .welcome span{
    font-family: "Raleway-Bold";
    color: var(--secondry);
    padding-top: 1rem;
}

header.hero h1 span{
    font-family: "Raleway-Black";
    color: var(--primary);
    
}
header.hero .container{
    margin-top: 100px;
}
header.hero .welcome img{
    height: 3rem;
    width: 10rem;
    border:none;
    margin-left: 0.75rem;
}

header.hero h1{
    font-family:"header.hero" ;
    color: var(--secondry);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}


header.hero p{
    font-family: "Raleway-Medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom:1rem;

}

.btn{
    padding:0.65rem 0.9rem;
    border:2px solid transparent;
    border: radius 4px;
    line-height: 0.5;
    font-family: "Raleway-SemiBold";
    font-size: 1.2rem;
    cursor: pointer;
    transition: all  0.3s ease;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--heaven);
}
.btn-secondary{
    background-color: var(--secondry);
    color: var(--heaven);
}
.btn-primary:hover{
    background-color:var(--heaven);
    color: var(--primary);
    border: 2px solid var(--primary);
}
.btn-secondary:hover{
    background-color: var(--heaven); 
    color: var(--secondry);
    border: 2px solid var(--secondry);
}
header.hero .container{
    position:relative;
}
header.hero .hero-image{
    position:absolute;
    top:-40px;
    right: 40px;
   
}
header.hero .hero-image img{
    height: 15rem;
    width: 15rem;
    border:none;
}
section{
    padding:4rem 0;


}
section.top-product{
   background-color: var(--light);
}

/* Utility Class  */
.section-heading{
    font-family: 'Raleway-Bold';
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
}

.section-heading::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;

    background-image: url(../icons/hr.svg);
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    bottom: -40px;


}

section.top-product .food-slider .food-cart{
    background-color: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;


}

section.top-product .food-slider .food-cart .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;

}
hr{
    border:2px solid var(--light);
    opacity: 0.8;
    margin:1rem 0;
}

section.top-product .food-slider .food-cart h2{
    font-family: "Raleway-Bold";
    font-family: 1.3rem;
    margin-bottom: 0.25rem;

}

section.top-product .food-slider .food-cart .stars{
    margin-bottom: 0.5rem;
}

section.top-product .food-slider .food-cart .stars img{
    margin-right: 0.25rem;
   
}

section.top-product .food-slider .food-cart .price{
    font-family: "Raleway-Medium";
    color: var(--danger);
    margin-bottom: 1rem;

}

section.top-product .food-slider .food-cart button{
    font-family: "Raleway-Medium";
    background-color: var(--heaven);
    color: var(--secondry);
    border:2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    
}
section.top-product .food-slider .food-cart button img{
    background: var(--primary);
    padding:0.50rem;
    height:32px;
    margin-right: 1.2rem;

}
section.top-product .food-slider .food-cart button:hover{
    background-color: var(--primary);
    color: var(--heaven);
}

/* this is the bug in the slider so we can add this to slove */
.slick-slide{
    margin: 0 27px;

}
.slick-list{
    margin:0 -27px;
}

.top-product .slider-btn{
    width:40px;
    height: 40px;
    border:none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.top-product .slider{
    position: relative;
}
.top-product .prev-btn{
    position: absolute;
    top:46%;
    left:-3rem;
    z-index: 1;

}
.top-product .next-btn{
    position: absolute;
    top:46%;
    right:-3rem;
    z-index: 1;

}

.top-product .btn-wrapper{
    margin-top: 2rem;
}
.top-product .btn-wrapper button{
    padding: 0.5rem;
}
.slick-track{
    padding:1rem 0;
}
section.about-meal .about-meal-wrap img{
width:85%;
}

/* Utility Class  */

.flex-1{
    flex:1;
}
section.about-meal .about-meal-wrap h2{
    font-family:"Raleway-SemiBold" ;
    font-size: 1.4rem;
    color:var(--secondry) ;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}
section.about-meal .about-meal-wrap p{
    line-height: 1.7rem;
    margin-bottom: 2rem;
}
section.our-services{
    background: var(--light);
    position: relative;
    z-index: 0;
}

section.our-services .service-card{
    background-color: var(--heaven);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    margin-right: 2rem;

}
section.our-services .service-card .icon{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;

}


section.our-services .service-card h2{
    font-family: "Raleway-Bold";
    font-size: 1.2rem;
    margin-bottom: 2rem;


}

section.our-services .card-wrapper{
    margin-top: 9rem;
    margin-right: -2rem;
}

section.our-services .service-card p{
    font-family: "Raleway-Medium";
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 2rem;
    
}

section.our-services .service-card h2#sorry{
    color: var(--primary);
}





/* Note : This is Done myself  */
/* section.our-services .service-card{
    background: var(--heaven);
    position: relative;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    /* padding:2rem 1rem; */

/* } */
/*
section.our-services .service-card img{
    position:absolute;
    top: -3rem;
    left: 4.2rem;

}

section.our-services .service-card h2{
    font-family: "Raleway-Bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.our-services .service-card p{
    font-family: "Raleway-SemiBold";
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

section.our-services .service-card button{
    margin-bottom: 1rem;
}

section.our-services h1{
    margin-bottom: 8rem;
}

section.our-services .service-card{
    margin-right: 2rem;
}
section.our-services .service-card h2#sorry{
    color: var(--primary);
} */


 /* ################ Hot Deal Section  */


 section.hot-deal{
     background:linear-gradient(
         rgba(35,43,56,0.9),
         rgba(35,43,56,0.9)
     ),url(../images/food-table.jpg) ;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
 }

 section.hot-deal .timer{
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     margin-right: -2rem;
     margin-bottom: 2rem;
 }

 section.hot-deal .timer div{
    margin-right: 2rem;
    background-color: var(--primary);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 section.hot-deal .timer div span:first-child{
    font-family: "Raleway-SemiBold";
    font-size: 1.5rem;
    color: var(--heaven);
    margin-bottom: 0.2rem;

 }

 section.hot-deal .timer div span:last-child{
    font-family: "Raleway-Medium";
    font-size: 1.8rem;
    color: var(--heaven);
 }

 /* Utility Class  */
 .pure-color{
     color: var(--pure);
 }

 section.latest-news {

    background-color: var(--light);
 }
 section.latest-news .card-wrapper{
     display: flex;
     position: relative;
     z-index: 1;
     margin-right: -2rem;
 }
 section.latest-news .card-wrapper .card img{
     width: 100%;
     border-radius: 4px;
 }

 section.latest-news .card-wrapper .card{

    margin-right: 2rem;
    background-color: var(--heaven);
 }

 section.latest-news .card-wrapper .card .card-contant{
     padding: 1rem;
 }

 section.latest-news .card-wrapper .card .card-contant .meta-post .dt{
     font-family: "Raleway-Medium";
    font-size: 0.9rem;
 }

 section.latest-news .card-wrapper .card .card-contant .meta-post{
     margin-bottom: 1rem;
 }
 section.latest-news .card-wrapper .card .card-contant h2{
     margin-bottom: 1rem;
     font-family: "Raleway-SemiBold";
 }

 section.latest-news .card-wrapper .card .card-contant p{
     line-height: 1.6;
     font-family: "Raleway-Medium";
 }

 section.latest-news .news-btn{
     margin-top: 2.5rem;
 }

 /* ################# Subscribe section  */

 section.subscribe {
     background-color: var(--primary);
 }

 section.subscribe .container div:first-child img{
     width: 90%;
 }

 section.subscribe .container div:first-child{
     flex:1;
 }

 section.subscribe .container div:last-child{
    flex:1;

 }

 section.subscribe .container h1{
     font-family: "Raleway-SemiBold";
     font-size: 1.5rem;
     margin-bottom: 1.5rem;
 }

 section.subscribe .container p{
     font-family: "Raleway-Medium";
     font-size: 1rem;
     margin-bottom: 1.5rem;
     line-height: 1.8;
 }

 section.subscribe .input-email{
     background-color: var(--heaven);
     display: flex;
     padding: 0.3rem;
     border-radius: 4px;
 }
 section.subscribe .input-email input{
     width: 100%;
     border: none;
     padding: 0 1rem;
     font-size: 1rem;
 }

 section.subscribe .input-email input:focus{
     outline: none;
 }

 section.subscribe .input-email button{
     padding:0.8rem 2rem ;
     border: none;
     background-color:var(--primary);
     color: var(--pure);
     border-radius: 4px;
     outline: none;
     cursor: pointer;
     transition: all 0.3s ease;
 }
 
 section.subscribe .input-email button:hover{
     background: var(--secondry);
 }

 /* ########### contact-us section  */

section.contact-us{
    padding: 0px 2rem;
}
section.contact-us .contact-wrap h2{
    margin-top: 4rem;

}

section.contact-us .contact-info>div >div img{
    margin-right: 1rem;
}
section.contact-us .contact-info>div >div{
    margin-bottom: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display: flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Raleway-Bold";
    margin-bottom: 0.08rem;
}

section.contact-us .contact-info > div > div > div span:last-child{
    font-family: 'Raleway-Medium';
    line-height: 1.8;
}

section.contact-us .map{
    /* filter: grayscale(100%); */
}


/* Footer  */

footer{
    background: var(--footer);
    padding-top: 2rem;
    padding-bottom: 1rem;
    
}
footer .box{
    width: 24%;
    padding-right: 1rem;
}
footer .about h2,.Links h2, .follow h2,.inst-wrapper h2 {
    font-family: "Raleway-Bold";
    font-size: 1rem;
    color: var(--pure);
    margin-bottom: 1.5rem;
    text-align: center;
}

footer .box .about p {
    color: var(--pure);
    font-size: 0.8rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: center;

}
/* hr{
    border-top: 3px solid var(--primary);
} */

hr{
    height:2px;border-width:0;color:var(--primary);background-color:var(--primary);
}

footer .box .about button{
    text-align: center;
}

footer .box .Links ul li{
    list-style-type: none;
    margin-bottom: 0.5rem;
    color: var(--heaven);
}

footer .box .follow ul li{
    list-style-type: none;
    margin-bottom: 1rem;
    color: var(--heaven);
}


footer .box .Links ul li a, footer .box .follow ul li a{
    font-family: "Raleway-Medium";
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--heaven);
}

footer .box .follow ul li img{
    padding-left: 2rem ;
    margin-right: 1rem;
}


/* footer .instagram{
    display: grid;
    grid-template-columns: repeat(3,auto);
} */

footer .inst-wrapper .insta-post img{
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

/* footer .inst-wrapper .insta-post > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
} */

footer .inst-wrapper .insta-post{
    display: grid;
    grid-template-columns: repeat(3,auto);


}
footer.copyright{
    padding:1rem 0;
    background-color: var(--secondry);
    color: var(--pure);
    text-align: center;
}

footer.copyright a{
    text-decoration: none;
    color: var(--primary);
    font-size: 1rem;
}


 



